.part {
  background: white;
}
.part .little {
  background: red;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.glyphicon {
  top: 0 !important;
}
.glyphicon:hover {
  cursor: pointer;
}
.input-group {
  margin-bottom: 10px;
}
#errorsContainer {
  width: 400px;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  z-index: 99999;
}
